@import "compass/css3";
@import "compass/utilities";

/* General styles */

img {
  margin: 0;
  padding: 0;
}

/* These are styles to make the page look nice */

body { background: #4F4F4F url("/images/header_background_tile.png") repeat-x;}

.content {
  background: #fff;
  padding: 40px;
  margin-left: 170px;
  width: 710px;
  @include border-corner-radius(top, right, 24px);
}

.wrapper {
  //background: #EAE194;
  width: 960px;
  margin: 0px auto;
}

.sidebar {
  background: #F3EAAD;
  width: 170px;
  padding-top: 20px;
  float: left;
  @include border-corner-radius(top, left, 24px);
}

.sidebar h1 {
  font-size: 12pt;
  color: #FFF;
  background: url("/images/sidebar_title.png") no-repeat;
  width: 150px;
  margin-left: -10px;
  height: 27px;
  padding: 7px 5px 3px 15px;
}

.sidebar .tag_cloud {
  padding: 0px 10px 10px 10px;
}

.sidebar .tag_cloud a {
  text-decoration: none;
}

.sidebar .tag_cloud a:hover {
  text-decoration: underline;
}

.sidebar .cloud_item {
  display: inline;
}

.sidebar .cloud_item .large_text {
  font-size: 150%;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 10px;
}


.header {
  background: #4F4F4F url("/images/header_background.png") no-repeat;
  width: 960px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.header_logo {
  padding-top: 30px;
}

.login {
  float: right;
  height: 30px;
}

.login > div.login-info {
  float: right;
  vertical-align:center;
  height: 25px;
  margin-top:6px;
  margin-left:10px;
}

.login > div.login-image {
  float: right;
}


.login img{
  margin: 0px;
}

.vendor {
  .reviews {
    padding-top: 20px;
    margin: 10px 8px 8px 10px;
    .review-inline {
      padding-bottom: 10px;

    }
  }

}

.add-vendor {
 float: right;
 background: url('/images/icons/add.png')  no-repeat left;
 padding-left:20px;
 height: 16px;
}
