@import "compass/css3";
@import "compass/utilities";

/* General styles */

img {
  margin: 0;
  padding: 0;
}

a, a:focus, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* These are styles to make the page look nice */

body { background: #4F4F4F url("/images/header_background_tile.png") repeat-x;}

.header {
  background: #4F4F4F url("/images/header_background.png") no-repeat;
  width: 960px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.header_logo {
  padding-top: 25px;
}

.login {
  float: right;
  height: 30px;
  margin-top: 5px;
}

.login > div.login-info {
  float: right;
  vertical-align:center;
  height: 30px;
  margin-top:6px;
  margin-left:10px;
}

.login > div.login-image {
  float: right;
}


.login img{
  margin: 0px;
}

.wrapper {
  background: #F3EAAD;
  width: 960px;
  margin: 0px auto 30px auto;
  @include border-corner-radius(top, left, 24px);
  @include border-corner-radius(top, right, 24px);

  .sidebar {
    background: #F3EAAD;
    width: 180px;
    padding-top: 20px;
    float: left;
    @include border-corner-radius(top, left, 24px);
  
    h1 {
      font-size: 12pt;
      color: #FFF;
      background: url("/images/sidebar_title.png") no-repeat;
      width: 155px;
      margin-left: -10px;
      height: 27px;
      padding: 7px 5px 3px 15px;
    }

    .content_area {
      padding: 10px;
      margin-bottom: 10px;
    }

    .content_area {
      .cloud_item {
        display: inline;
      }

      .cloud_item .large_text {
        font-size: 150%;
      }
    }
  }

  .content {
    background: #fff;
    padding: 20px;
    margin-left: 180px;
    width: 740px;
    @include border-corner-radius(top, right, 24px);
    min-height: 400px;
  }

  .footer {
    background: #333;
    clear: left;
    height: 20px;
    color: #FFF;
    padding: 20px;
    text-align: center;
  }
}

.vendor {
  .reviews {
    padding-top: 20px;
    margin: 10px 8px 8px 10px;
    .review-inline {
      padding-bottom: 10px;

    }
  }
  .contact_info {
    float: right;
    padding: 1em;
    margin: 0px 0px 10px 10px;
    background: #F3EAAD;
    border: 1px solid #D1C88B;
  }
}

.add-vendor {
  float: right;
  background: url('/images/icons/add.png')  no-repeat left;
  padding-left:20px;
  height: 16px;
}

.vendor-search-label {
  float: left;
  font-weight: bold;
  margin-top: 0.4em;
  margin-right: 0.5em;
}

.vendor-list {
  clear: right;
  padding-top: 0.5em;

  .vendor-row {
    padding: 0.5em;
    background: #CCC;

    .vendor-name {
      float: left;
      width: 20em;
      font-size: 150%;
    }

    .vendor-rating {
      float: right;
      width: 7em;
      font-size: 150%;
    }

    .vendor-tags {
      padding-top: 1em;
    }
  }

  .even {
    background: #EEEEFF;
  }

  .odd {
    background: #F6F6F6;
  }
}
