.add-vendor
  = link_to "Add a Vendor", new_vendor_path

.search-vendors
  %input
  %input{ :type => 'submit', :value => 'Search' }

- if @vendors.any?
  .vendor-list
    - @vendors.each do |vendor|
      %div{ :class => 'vendor-row ' + cycle('odd', 'even') }
        .vendor-name
          = link_to vendor.name, vendor
        .vendor-rating{ :class => vendor.get_rating_class }
        %br/
        .vendor-tags
          = raw("<strong>Tags: </strong>" + vendor.tags)        
