/* General styles */
/* line 6, ../../../../app/stylesheets/application/general.scss */
img {
  margin: 0;
  padding: 0;
}

/* These are styles to make the page look nice */
/* line 13, ../../../../app/stylesheets/application/general.scss */
body {
  background: #4f4f4f url("/images/header_background_tile.png") repeat-x;
}

/* line 15, ../../../../app/stylesheets/application/general.scss */
.header {
  background: #4f4f4f url("/images/header_background.png") no-repeat;
  width: 960px;
  margin: 0px auto;
  margin-bottom: 30px;
}

/* line 22, ../../../../app/stylesheets/application/general.scss */
.header_logo {
  padding-top: 25px;
}

/* line 26, ../../../../app/stylesheets/application/general.scss */
.login {
  float: right;
  height: 30px;
  margin-top: 5px;
}

/* line 32, ../../../../app/stylesheets/application/general.scss */
.login > div.login-info {
  float: right;
  vertical-align: center;
  height: 30px;
  margin-top: 6px;
  margin-left: 10px;
}

/* line 40, ../../../../app/stylesheets/application/general.scss */
.login > div.login-image {
  float: right;
}

/* line 45, ../../../../app/stylesheets/application/general.scss */
.login img {
  margin: 0px;
}

/* line 49, ../../../../app/stylesheets/application/general.scss */
.wrapper {
  background: #F3EAAD;
  width: 960px;
  margin: 0px auto 30px auto;
  -moz-border-radius-topleft: 24px;
  -webkit-border-top-left-radius: 24px;
  -o-border-top-left-radius: 24px;
  -ms-border-top-left-radius: 24px;
  -khtml-border-top-left-radius: 24px;
  border-top-left-radius: 24px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  -o-border-top-right-radius: 24px;
  -ms-border-top-right-radius: 24px;
  -khtml-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
}
/* line 56, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar {
  background: #F3EAAD;
  width: 180px;
  padding-top: 20px;
  float: left;
  -moz-border-radius-topleft: 24px;
  -webkit-border-top-left-radius: 24px;
  -o-border-top-left-radius: 24px;
  -ms-border-top-left-radius: 24px;
  -khtml-border-top-left-radius: 24px;
  border-top-left-radius: 24px;
}
/* line 63, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar h1 {
  font-size: 12pt;
  color: #FFF;
  background: url("/images/sidebar_title.png") no-repeat;
  width: 155px;
  margin-left: -10px;
  height: 27px;
  padding: 7px 5px 3px 15px;
}
/* line 73, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar .content_area {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 79, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar .content_area a {
  text-decoration: none;
}
/* line 83, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar .content_area a:hover {
  text-decoration: underline;
}
/* line 87, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar .content_area .cloud_item {
  display: inline;
}
/* line 91, ../../../../app/stylesheets/application/general.scss */
.wrapper .sidebar .content_area .cloud_item .large_text {
  font-size: 150%;
}
/* line 97, ../../../../app/stylesheets/application/general.scss */
.wrapper .content {
  background: #fff;
  padding: 20px;
  margin-left: 180px;
  width: 740px;
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  -o-border-top-right-radius: 24px;
  -ms-border-top-right-radius: 24px;
  -khtml-border-top-right-radius: 24px;
  border-top-right-radius: 24px;
  min-height: 400px;
}
/* line 106, ../../../../app/stylesheets/application/general.scss */
.wrapper .footer {
  background: #333;
  clear: left;
  height: 20px;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

/* line 117, ../../../../app/stylesheets/application/general.scss */
.vendor .reviews {
  padding-top: 20px;
  margin: 10px 8px 8px 10px;
}
/* line 120, ../../../../app/stylesheets/application/general.scss */
.vendor .reviews .review-inline {
  padding-bottom: 10px;
}
/* line 125, ../../../../app/stylesheets/application/general.scss */
.vendor .contact_info {
  float: right;
  padding: 1em;
  margin: 0px 0px 10px 10px;
  background: #F3EAAD;
  border: 1px solid #D1C88B;
}

/* line 134, ../../../../app/stylesheets/application/general.scss */
.add-vendor {
  float: right;
  background: url("/images/icons/add.png") no-repeat left;
  padding-left: 20px;
  height: 16px;
}

/* line 141, ../../../../app/stylesheets/application/general.scss */
.vendor-search-label {
  float: left;
  font-weight: bold;
  margin-top: 0.4em;
  margin-right: 0.5em;
}

/* line 148, ../../../../app/stylesheets/application/general.scss */
.vendor-list {
  clear: right;
  padding-top: 0.5em;
}
/* line 152, ../../../../app/stylesheets/application/general.scss */
.vendor-list .vendor-row {
  padding: 0.5em;
  background: #CCC;
}
/* line 156, ../../../../app/stylesheets/application/general.scss */
.vendor-list .vendor-row .vendor-name {
  float: left;
  width: 15em;
  font-size: 150%;
  font-weight: bold;
}
/* line 163, ../../../../app/stylesheets/application/general.scss */
.vendor-list .vendor-row .vendor-rating {
  float: left;
  width: 8em;
  font-size: 150%;
}
/* line 169, ../../../../app/stylesheets/application/general.scss */
.vendor-list .vendor-row .vendor-tags {
  padding-top: 1em;
}
/* line 174, ../../../../app/stylesheets/application/general.scss */
.vendor-list .even {
  background: #EEEEFF;
}
/* line 178, ../../../../app/stylesheets/application/general.scss */
.vendor-list .odd {
  background: #F6F6F6;
}
